@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Hina Mincho';
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 2rem;
    gap:.1rem;
    overflow: hidden;
}

.card{
    height:6rem;
    width:100%;
    background: radial-gradient(lightgray, hotpink);
    border-radius: 1rem;
}


@keyframes anim{
      from{
          transform: translateX(200px);
      }  
      to{
          transform:translateX(0px);
      }
}