@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Hina Mincho';
}

.btn-start{
    background-color: #fa923f;
    color: white;
    border: 2px solid #512751;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
    width: 10rem;
    height: 2rem;
}


.container{
    width: 800px;
    height: 900px;
    border: 5px solid black;
    margin: 15px auto;
    display: grid;
    background-image: url("./assets/cover\ pic.jpg");
    background-size: cover;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    grid-template-areas: 
    "door7 door19 door17 door11" 
    "door8 door3 door4 door14"
    "door23 door5 door18 door20"
    "door15 door2 door13 door6"
    "door22 door10 door12 door9" 
    "door21 door16 door1 door24";
}

.image{
    background-image: url(./assets/marceline.jpg);
    background-size: cover;
    background-position: center;
}

.text{
    height: 150px;
    width: 150px;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

body{

}

header{

}

main{

}

footer{

}