@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Hina Mincho';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header{
    position: fixed;
    height: 10vh;
    background-color: black;
    display: grid;
    place-items: center;
    width: 100vw;
    color: white;
}
main{
    position: fixed;
    height: 90vh;
    top: 10vh;
    padding: 2rem;
}
#save-button{
color: white;
font-weight: bold;
}