@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Bebas Neue';
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.card{
    padding: 2rem;
    color: white;
    box-shadow: 8px 8px black;
    animation: 1s ease-in-out anim;
}

.alive{
    color: green;
}

.dead{
    color: red;
}

@keyframes anim{
    from{
        transform: translateX(200px);
    }  
    to{
        transform:translateX(0px);
    }
}